name: Build & Release

on:
    push:
        branches:
            - main
        tags:
            - "v*"
    workflow_dispatch:

jobs:
    build:
        name: Build & Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Set up Java
              uses: actions/setup-java@v4
              with:
                  distribution: "temurin"
                  java-version: "17"

            - name: Set up Flutter
              uses: subosito/flutter-action@v2
              with:
                  channel: "stable"

            - name: Get Dependencies
              run: flutter pub get

            - name: Build APK
              run: flutter build apk --release --no-tree-shake-icons

            - name: Build App Bundle
              run: flutter build appbundle --release --no-tree-shake-icons

            - name: Create Release
              uses: softprops/action-gh-release@v2
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  files: |
                      build/app/outputs/flutter-apk/app-release.apk
                      build/app/outputs/bundle/release/app-release.aab
                  token: ${{ secrets.GITHUB_TOKEN }}
                  draft: false
                  prerelease: false
                  generate_release_notes: true
